.header {
    background-color:cadetblue;
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    padding: 10px;
    margin-left: 5px;
}

.header-right {
    margin-right: 5px;
    padding: 5px;
    display: flex;
}

h3 {
    margin: 0;
}